html {
	background:#e8ecef url(../images/atc_bg.png) repeat-x left top;
}

body {
	font-family: Helvetica, "Lucida Grande", Arial, Verdana, sans-serif;
	font-size: 83.33%;
	margin: 0;
	text-align: center;
}

#wrapper {
	margin: 0 auto;
	width: 800px;
}

#header {
	margin-top: 90px;
}

.logo a {
	text-decoration: none;
}


input[type="text"]
{
	width: 400px;
}

.edit_about textarea
{
	width: 700px;
	font-size: 16px;
}

input[type="submit"], input[type="button"] {
 	font-size:16px;
	width: 100px;
}

#links {
	text-align: center;
	margin-bottom: 20px;
}

.today {
	background-color: #92A2B2;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom: 20px;
	border-bottom-left-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
}

.selected {
	background-color: #92A2B2;
}

.link {
	display: inline;
	margin: 5px;
	width: 60px;
	height: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 18px;
	background:#243041 url(../images/link_bg.png) repeat-x left top;
}

.link a {
	text-decoration: none;
	color: #ffffff;
}

#content {
		background:#f2f4f6 url(../images/content_bg.png) repeat-x left top;
		padding: 10px;
		text-align: left;
		width: 780px;
		color: #000000;
}

#content h1 {
	color: #1a3043;
	font-size: 16px;	
}

#content h2 {
	color: #1a3043;
	font-size: 16px;
	clear: both;
}

#weekly_calendar {
	margin-top: 5px;
	text-align: center;
}

.week_nav {
	text-decoration: none;
	position: relative;
	bottom: 1px;
}

#nextWeek {
	float: right;
	left: 18px;
}

#prevWeek {
	float: left;
}


#week {
	color: #1a3043;
	font-size: 14px;
	font-weight: bold;
	width: 100px;
}


.day {
	float: left;
	margin-right: 15px;
}

.time_slot .label {
	color: #1a3043;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px dashed #1a3043;
	margin-bottom: 5px;
	text-align: left;
}


.time_slot {
	text-align: left;
	background-color: white;
	border-bottom: 2px solid #BBB;
	border-bottom-left-radius: 10px 10px;
	border-bottom-right-radius: 10px 10px;
	border-top-left-radius: 10px 10px;
	border-top-right-radius: 10px 10px;
	margin: 10px 0px 0px;
	padding: 5px 10px;
	word-wrap: break-word;
	width: 120px;
	font-size: 10px;
}

.time_slot a {
	font-size: 11px;
}

.time_slot .people div {
	padding-top: 1px;
	padding-left: 1px;
	padding-right: 1px;
}

.time_slot div {
	padding-top: 1px;
}

.delete {
	float: right;
	text-decoration: none;
	font-size: 10px;
	position: relative;
	bottom: 1px;
}

#footer {
	color: #030303;
	font-size: 9px;
	text-align: right;
	clear: both;
	margin-top: 5px;
}

div.spacer {
  clear: both;
  height: 1px;
 }

#news {
	position: relative;
	top: 40px;
}

#profiled_media {
	float: left;
	width: 450px;
}

#profiled_media img {
	border:solid 1px #94a3c4;
	background:white
	margin: 10px 0px;
	width: 400px;
}

div.border_line {
	border-bottom: 1px solid #C6C7C9;
}

.athletes  {
	
}

.athlete_thumb {
	width: 150px;
	height: 150px;
	text-align: center;
	font-size: 11px;
	display: inline-block;
}

.athlete_facts {
	font-size: 12px;
	color: #333;
	padding-left: 0px;
}

.athlete_facts li {
	list-style-type: none;
}

.athlete_facts .fact {
	font-size: 13px;
	font-weight: bold;
}

.athlete_thumb img {
	width: 120px;
	height: 120px;
	border-width: 1px;
	border-type: solid;
	border-color: #333;
}

.athlete_thumb a {
	display: block;
}

.athlete_images {
  margin-top: 10px;	
}

.athlete_images img {
	width: 300px;
	height: 400px;
}

