<h2> ATC Athletes</h2>

<div class="athletes">
<% @athletes.each do |athlete| %>
	    <div class="athlete_thumb">
			<img src="<%=athlete.photo_url%>"/>
			<%= link_to athlete.name.upcase, athlete %>
	  </div>
<% end %>
</div>

