<h2>Overview</h2>
<p>
The Alpine Training Center offers strength and conditioning training for all 
types of athletes.  From professional mountain guides to avid recreationalists, 
our unique and proven programming focuses on three specific goals:
</p>

<ol>
<li>Promote full body strength</li>
<li>Increase work capacity, amount of work produced in set period of time</li>
<li>Build stamina</ol>

<p>
In short, anyone willing to grunt, spit, and sweat, and come back to do it all 
another day will benefit from this training. 
</p>

<h2>Group workout sessions</h2>
<p>
Done in a group format, a training session is an hour of hard work.  We push the 
athlete’s strength, we push their lungs and we push their limits. Our athlete’s 
range in age from 25-65 years young. We measure success only by the athlete’s 
performance in their chosen sport or career.  
</p>

<h2>Hybrid and specific training</h2>
<p>
We offer two types of training sessions, <b>hybrid</b> or <b>sport specific</b> sessions.
Hybrid training sessions involve general strength and work capacity efforts, for 
all athletes. 
Sport specific training sessions are for rock and ice climbers and ski conditioning training in the fall.
</p>

<p>We use a variety of training principles and modes to help athletes reach their 
goals.  We carry sandbags, pull tires, climb ropes, squat, run and jump.  You 
name it; we’ve probably tried it.
</p>

<h2>Location</h2>
<p>
Located in an East Boulder warehouse at 1840 Commerce St, the gym has no 
mirrors, no juice bars and no frills.  We do offer good old-fashioned hard-core 
training! </p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=1840+Commerce+St.+Boulder,+CO&amp;sll=40.018526,-105.231437&amp;sspn=0.007247,0.010997&amp;ie=UTF8&amp;hq=&amp;hnear=1840+Commerce+St,+Boulder,+Colorado+80301&amp;z=14&amp;ll=40.02814,-105.227222&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=1840+Commerce+St.+Boulder,+CO&amp;sll=40.018526,-105.231437&amp;sspn=0.007247,0.010997&amp;ie=UTF8&amp;hq=&amp;hnear=1840+Commerce+St,+Boulder,+Colorado+80301&amp;z=14&amp;ll=40.02814,-105.227222" style="color:#0000FF;text-align:left">View Larger Map</a></small>


<h2>Pricing</h2>
<p>
Most athletes train an average of two to three days per week.  The cost is $150 
per month for unlimited training sessions or a $25 per session option.  Please 
contact <a href="mailto:sciolino@q.com">Connie Sciolino</a> at (303)-859-4579 to schedule a training session.


<h2>Staff</h2>
<p>
<b>Connie Sciolino</b> is the Owner and Head Coach of the Alpine Training Center. She 
holds a Master’s degree in Exercise Science from Montana State Univeristy and is a certified strength 
and conditioning coach through the National Strength and Conditioning 
Association.  She is also an Exum Mountain Guide.  Her sports of choice include 
skiing, running and rock climbing. 
</p>
<p>
<b>Jeremy Jenkins</b> is the Assistant Coach with a specialization in training military 
personnel and industrial athletes like fire fighters and police officers. He has 
served one tour of duty in the armed forces and is currently working on a degree 
in sports psychology at Denver Metro.  
</p>