<div class="profiled_media">
	<h2> <%= @media_profile.title %> </h2>
	<%
		if not @media_profile.video_embed.blank? then
	%> 
		<%= @media_profile.video_embed%>
	<%
else
	%>
	<img src="<%= @media_profile.landing.url %>"/>
<%end%>
</div>

<div class="news">
<%= @media_profile.content %>
</div>