<div id="profiled_media">
	<h2> <%= @media_profile.title %> </h2>
	<img src="<%= @media_profile.link %>"/>
</div>

<div id="news">

<iframe scrolling="no" frameborder="0" src="http://www.facebook.com/connect/connect.php?id=331358835234&connections=0&stream=1" 
  allowtransparency="true" style="border: none; width: 300px; height: 550px;"></iframe>
</div>