<div id="weekly_calendar">
	<div class="spacer">
	&nbsp;
	</div>
	<div class="day Mon">
		<h2><a class="week_nav" id="prevWeek" href="javascript:void(0)">&lt;</a>
		<span id="monday"></span></h2>
		<div class="time_slot" id="mon_7am">
			<div class="label">7 AM</div>
			<span class="people"></span>
		  	<div><a href="javascript:void(0)" class="add_reg_spot">8 regular left</a></div>
		  	<div><a href="javascript:void(0)" class="add_climbing_spot">3 climbing left</a></div>
		</div>
		<div class="time_slot" id="mon_9am">
			<div class="label">9 AM</div>
			<span class="people"></span>
		  	<div><a href="javascript:void(0)" class="add_reg_spot">8 regular left</a></div>
		  	<div><a href="javascript:void(0)" class="add_climbing_spot">3 climbing left</a></div>
		</div>
		<div class="time_slot" id="mon_6pm">
			<div class="label">6 PM</div>
			<span class="people"></span>
		  	<div><a href="javascript:void(0)" class="add_reg_spot">8 regular left</a></div>
		  	<div><a href="javascript:void(0)" class="add_climbing_spot">3 climbing left</a></div>
		</div>
	</div>
	<div class="day Tues">
		<h2><span id="tuesday"></span></h2>
		<div class="time_slot" id="tues_8am">
			<div class="label">8 AM</div>
			<span class="people"></span>
		  	<div><a href="javascript:void(0)" class="add_reg_spot">8 regular left</a></div>
		  	<div><a href="javascript:void(0)" class="add_climbing_spot">3 climbing left</a></div>
		</div>
		<div class="time_slot" id="tues_6pm">
			<div class="label">6 PM</div>
			<span class="people"></span>
		  	<div><a href="javascript:void(0)" class="add_reg_spot">8 regular left</a></div>
		  	<div><a href="javascript:void(0)" class="add_climbing_spot">3 climbing left</a></div>
		</div>
	</div>
	<div class="day Wed">
		<h2><span id="wednesday"></span></h2>
		<div class="time_slot today" id="wed_7am">
			<div class="label">7 AM</div>
			<span class="people"></span>
		  	<div><a href="javascript:void(0)" class="add_reg_spot">8 regular left</a></div>
		  	<div><a href="javascript:void(0)" class="add_climbing_spot">3 climbing left</a></div>
		</div>
		<div class="time_slot" id="wed_8am">
			<div class="label">9 AM</div>
			<span class="people"></span>
		  	<div><a href="javascript:void(0)" class="add_reg_spot">8 regular left</a></div>
		  	<div><a href="javascript:void(0)" class="add_climbing_spot">3 climbing left</a></div>
		</div>
		<div class="time_slot" id="wed_6pm">
			<div class="label">6 PM</div>
			<span class="people"></span>
		  	<div><a href="javascript:void(0)" class="add_reg_spot">8 regular left</a></div>
		  	<div><a href="javascript:void(0)" class="add_climbing_spot">3 climbing left</a></div>
		</div>
	</div>
	<div class="day Thu">
		<h2><span id="thursday"></span></h2>
		<div class="time_slot" id="thurs_8am">
			<div class="label">8 AM</div>
			<span class="people"></span>
		  	<div><a href="javascript:void(0)" class="add_reg_spot">8 regular left</a></div>
		  	<div><a href="javascript:void(0)" class="add_climbing_spot">3 climbing left</a></div>
		</div>
		<div class="time_slot" id="thurs_6pm">
			<div class="label">6 PM</div>
			<span class="people"></span>
		  	<div><a href="javascript:void(0)" class="add_reg_spot">8 regular left</a></div>
		  	<div><a href="javascript:void(0)" class="add_climbing_spot">3 climbing left</a></div>
		</div>
	</div>
	<div class="day Fri">
		<h2><a class="week_nav" id="nextWeek" href="javascript:void(0)">&gt;</a>
		<span id="friday"></span></h2>
		<div class="time_slot" id="fri_7am">
			<div class="label">7 AM</div>
			<span class="people"></span>
		  	<div><a href="javascript:void(0)" class="add_reg_spot">8 regular left</a></div>
		  	<div><a href="javascript:void(0)" class="add_climbing_spot">3 climbing left</a></div>
		</div>
		<div class="time_slot" id="fri_9am">
			<div class="label">9 AM</div>
			<span class="people"></span>
		  	<div><a href="javascript:void(0)" class="add_reg_spot">8 regular left</a></div>
		  	<div><a href="javascript:void(0)" class="add_climbing_spot">3 climbing left</a></div>
		</div>
		<div class="time_slot" id="fri_6pm">
			<div class="label">6 PM</div>
			<span class="people"></span>
		  	<div><a href="javascript:void(0)" class="add_reg_spot">8 regular left</a></div>
		  	<div><a href="javascript:void(0)" class="add_climbing_spot">3 climbing left</a></div>
		</div>
	</div>
	<div class="spacer">
	  &nbsp;
	</div>
</div>