<% @media_profiles.each {|m| %>
	<div class="news_item">
		<div class="profiled_media">
			<h2><%=  link_to m.updated_at.strftime("%a %b #{m.updated_at.day.ordinalize}") + " - " + m.title, m %></h2>
			<img src="<%= m.landing.url %>"/>
		</div>

		<div class="news">
		<%= m.content %>
		</div>
	</div>
	<div style="clear: both;"></div>

<% }%>