<div class="profiled_media">
	<h2>  <%=@media_profile.updated_at.strftime("%a %b #{@media_profile.updated_at.day.ordinalize}") + " - " + @media_profile.title %>   </h2>
	<img src="<%= @media_profile.landing.url %>"/>
</div>

<div class="news">
<%= @media_profile.content %>
</div>